
.navigation nav{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 72px;
  
  }
  
 .navigation nav ul{
      display: flex;
      align-items: center;
      list-style: none;
      gap:24px;
      font-weight: 500;
  }